@using PingMeChat.CMS.Application.Feature.Service.InventoryImports.Dto;
@model InventoryImportDto
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="inventoryImportModalLabel">Chi tiết Phiếu nhập kho - @Model.Code</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="Code" class="form-label">Code</label>
                <input type="text" class="form-control form-control-sm" id="Code" value="@Model.Code" readonly>
            </div>
            <div class="col-md-6">
                <label for="PartnerName" class="form-label">Nhà cung cấp</label>
                <input type="text" class="form-control form-control-sm" id="PartnerName" value="@Model.PartnerName" readonly>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="InventoryTypeName" class="form-label">Tình trạng</label>
                <input type="text" class="form-control form-control-sm" id="InventoryTypeName" value="@Model.InventoryTypeName" readonly>
            </div>
            <div class="col-md-6">
                <label for="TotalAmount" class="form-label">Tổng tiền</label>
                <input type="text" class="form-control form-control-sm" id="TotalAmount" value="@Model.TotalAmount.FormatToCurrency()" readonly>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="CreatedDate" class="form-label">Ngày tạo</label>
                <input type="text" class="form-control form-control-sm" id="CreatedDate" value="@Model.CreatedDate.ToVietNamFormat()" readonly>
            </div>
        </div>
        <h6 class="form-label">Chi tiết:</h6>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá nhập</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var detail in Model.InventoryDetailsImports)
                    {
                        <tr>
                            <td>@detail.ProductName</td>
                            <td>@detail.Quantity</td>
                            <td>@detail.Cost.FormatToCurrency()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
    </div>
</div>
