@{
    ViewData["Title"] = "Bảng điều khiển";
}
@using PingMeChat.CMS.Application.Feature.Service.BidaTables.Dto
@using PingMeChat.CMS.Entities.Feature;
@model IEnumerable<BidaTableDto>
@section scripts
{
    <environment names="Development">
        <script src="~/lb-views/home/index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/lb-views/home/index.js" asp-append-version="true"></script>
    </environment>
}
@section styles {
    <link rel="stylesheet" href="~/lb-views/home/site.css" />
}

<section class="content">
    <div id="hidd-id" class="d-none"></div>
    <div id="hidd-code" class="d-none"></div>
    <div class="container-fluid">
        @*header*@
        <div class="card">
            <header class="container-fluid py-3 bg-light">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        @{
                            var statusCounts = ViewBag.StatusCounts as Dictionary<string, int>;
                        }
                        <div class="gap-2">
                            <button class="btn btn-sm status-btn playing">
                                <i class="fas fa-play"></i> Đang chơi (@(statusCounts.TryGetValue("Playing", out var playingCount) ? playingCount : 0))
                            </button>
                            <button class="btn btn-sm status-btn available">
                                <i class="fas fa-table"></i> Bàn trống (@(statusCounts.TryGetValue("Available", out var availableCount) ? availableCount : 0))
                            </button>
                            <button class="btn btn-sm status-btn split-table bg-primary">
                                <i class="fas fa-table"></i> Chuyển bàn (@(statusCounts.TryGetValue("ChangeTable", out var changeTableCount) ? changeTableCount : 0))
                            </button>
                            <button class="btn btn-sm status-btn split-hour bg-info">
                                <i class="fas fa-table"></i> Tách giờ (@(statusCounts.TryGetValue("SplitHour", out var splitHourCount) ? splitHourCount : 0))
                            </button>
                            @* <button class="btn btn-sm status-btn maintenance">
                                <i class="fas fa-tools"></i> Bàn bảo trì (@(statusCounts.TryGetValue("Maintenance", out var maintenanceCount) ? maintenanceCount : 0))
                            </button> *@
                        </div>
                    </div>
                </div>
            </header>
        </div>
        @*/header*@
        <!-- Info boxes -->
        <div class="row gy-3">

            @foreach (var table in Model)
            {
                <div class="col-12 col-sm-6 col-md-4 col-xxl-3">
                    <div class="card btn p-4 @(table.BidaTableStatus == BidaTableStatus.Available ? "bg-success" : table.BidaTableStatus == BidaTableStatus.Playing ? "bg-warning" : table.BidaTableStatus == BidaTableStatus.ChangeTable ? "bg-primary" : table.BidaTableStatus == BidaTableStatus.SplitHour ? "bg-info" : "bg-maintenance") h-100 billiard-table"
                         data-bs-toggle="modal"
                         data-bs-target="@(table.BidaTableStatus == BidaTableStatus.Available ? "#confirmPlayModal" : "#featureModal")"
                         data-table-id="@table.Id"
                         data-table-code="@table.Code"
                         onclick="updateTableId('@table.Id', '@table.Code')">

                        <div class="row justify-content-around">
                            <div class="col-6 text-start">
                                <h3 class="pb-2">@table.Code</h3>
                                <p class="w-100">@table.BidaTableTypeName</p>
                            </div>
                            <div class="col-4 text-center">
                                <div class="info-box-icon border border-white elevation-1 py-2">
                                    <i class="@(table.BidaTableStatus == BidaTableStatus.Playing || table.BidaTableStatus == BidaTableStatus.ChangeTable || table.BidaTableStatus == BidaTableStatus.SplitHour ? "fas fa-chalkboard-teacher" : "fas fa-baseball-ball") fs-5"></i>
                                </div>
                                <p class="mt-2 @(table.BidaTableStatus == BidaTableStatus.Playing ? "text-white" : "")">@table.BidaTableStatusName</p>
                            </div>
                        </div>

                        @if (table.BidaTableStatus == BidaTableStatus.Playing || table.BidaTableStatus == BidaTableStatus.ChangeTable || table.BidaTableStatus == BidaTableStatus.SplitHour)
                        {
                            <div class="h-50 play-container text-center pb-1 d-flex justify-content-center align-items-center">
                                <h2 class="position-relative d-inline play-time" data-start-time="@table.StartTime?.ToString("O")">
                                    <span class="hours">0</span> <span class="position-absolute top-0 start-100 ms-3 fs-6 translate-middle fw-light">giờ</span>
                                </h2>
                                <h2 class="position-relative d-inline ms-5 play-time">
                                    <span class="minutes">0</span> <span class="position-absolute top-0 start-100 ms-3 fs-6 translate-middle fw-light">phút</span>
                                </h2>
                            </div>
                            <div class="timeplay-container border-top border-white d-flex justify-content-around pt-2">
                                <div>
                                    <i class="far fa-clock"></i> <span>@table.StartTimeString</span>
                                </div>
                                <div>
                                    <i class="fas fa-money-bill-wave"></i> <span>@table.PriceString</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="play-container text-center pb-4">
                                <i class="@(table.BidaTableStatus == BidaTableStatus.Available ? "fas fa-play" : "fas fa-tools") fs-1 text-white"></i>
                            </div>
                        }

                        @if (table.Code.ToUpper().Contains("L"))
                        {
                            <div class="billiard-hole hole-tl"></div>
                            <div class="billiard-hole hole-tm"></div>
                            <div class="billiard-hole hole-tr"></div>
                            <div class="billiard-hole hole-bl"></div>
                            <div class="billiard-hole hole-bm"></div>
                            <div class="billiard-hole hole-br"></div>
                        }
                    </div>
                </div>
            }

        </div>

    </div>
</section>

<!-- Modal Tính năng -->
<div class="modal fade" id="featureModal" tabindex="-1" aria-labelledby="featureModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        @* Chi tiết của phiên đang chơi và các chức năng sẽ hiển thị ở đây *@
    </div>
</div>

<!-- Modal Xác nhận chơi -->
<div class="modal fade" id="confirmPlayModal" tabindex="-1" aria-labelledby="confirmPlayModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmPlayModalLabel">Xác nhận chơi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có muốn bắt đầu chơi bàn này không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmPlayBtn">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal các sản phẩm, dịc vụ sử dụng trong quá trình chơi -->
<div class="modal fade" id="serviceModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">Chọn dịch vụ</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-search"></i></span>
                            <input type="text" class="form-control" id="searchService" placeholder="Tên/ mã hàng">
                        </div>
                        <div class="list-group" id="serviceList" style="max-height: 400px; overflow-y: auto;">
                            <!-- Danh sách dịch vụ sẽ được thêm vào đây bằng JavaScript -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
                            <table class="table table-striped table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th>Diễn tả</th>
                                        <th>SL</th>
                                        <th>Đơn giá</th>
                                        <th>Thành tiền</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="selectedServices">
                                    <!-- Các dịch vụ đã chọn sẽ được thêm vào đây -->
                                </tbody>
                            </table>
                        </div>
                        <div class="text-end mt-3">
                            <strong>Tổng cộng: <span id="modalTotalAmount" class="text-primary">0</span></strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-top">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-primary" id="updateServices">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Xác nhận thanh toán -->
<div class="modal fade" id="confirmPaymentModal" tabindex="-1" aria-labelledby="confirmPaymentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmPaymentModalLabel">[<span class="tableCodeForPayment"></span>] Xác nhận thanh toán</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @* Thêm 2 trường để lưu thông tin *@
                    <input name="discountType" type="number" value="0" class="form-control" hidden>  @* Loại giảm giá *@
                    <input name="discountNumber" type="number" value="0" class="form-control" hidden> @* Số lượng giảm giá *@
                @* Xác nhận thanh toán hóa đơn cho bàn <span class="tableCodeForPayment"></span>?*@
                <div class="row form-group">
                    <label for="paymentMethodId" class="form-label">Chọn hình thức thanh toán ? <span class="text-danger">*</span></label>
                    <div class="form-group">
                        <select class="select2" id="paymentMethodId" style="width: 100%;">
                            <option value="0" selected="selected">Tiền mặt</option>
                            <option value="1">Thanh toán qua thẻ </option>
                            <option value="2">Chuyển khoản </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmPaymentBtn">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Xác nhận chuyển bàn -->
<div class="modal fade" id="confirmMoveTableModal" tabindex="-1" aria-labelledby="confirmMoveTableModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmMoveTableModalLabel"> Xác nhận chuyển bàn [<span class="moveTableModal"></span>]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @* Xác nhận thanh toán hóa đơn cho bàn <span class="tableCodeForPayment"></span>?*@
                <div class="row form-group">
                    <label for="BidaTableStatus" class="form-label">Bạn muốn chuyển tới bàn ? <span class="text-danger">*</span></label>
                    <div class="form-group">
                        <select class="select2" id="listTableActiveId" style="width: 100%;">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmMoveTableBtn">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Xác nhận tách giờ -->
<div class="modal fade" id="confirmSpiltHourModal" tabindex="-1" aria-labelledby="confirmSpiltHourModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmSpiltHourModalLabel"> Xác nhận tách giờ bàn [<span class="moveTableModal"></span>]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @* Xác nhận thanh toán hóa đơn cho bàn <span class="tableCodeForPayment"></span>?*@
                <div class="row form-group">
                    <label for="BidaTableStatus" class="form-label">Bạn có chắc chắn muốn tách giờ tại bàn [<span class="moveTableModal"></span>]</label>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmSpiltHourBtn">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal thanh toán - ghi nợ -->
<div class="modal fade" id="confirmDebtModal" tabindex="-1" aria-labelledby="confirmDebtModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDebtModalLabel"> Xác nhận ghi nợ đối với bàn [<span class="moveTableModal"></span>]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                @* Xác nhận thanh toán hóa đơn cho bàn <span class="tableCodeForPayment"></span>?*@
                <div class="row form-group">
                    <p class="text-danger"><i>Đối với khách hàng có trong hệ thống</i></p>
                    @*<label for="BidaTableStatus" class="form-label">Số điện thoại</label>*@
                    <input id="customerKeywordSearch" type="text" class="form-control" placeholder="Nhập số điện thoại/ tên/ địa chỉ">

                </div>
                <div class="row form-group text-right">
                    <button type="button" id="searchCustomerBtn" class="btn btn-primary">Tìm kiếm</button>
                </div>

                <!-- Thêm phần hiển thị kết quả tìm kiếm -->
                <div id="searchResults" style="display: none;">
                    <h6>Kết quả tìm kiếm:</h6>
                    <ul id="customerList" class="list-group"></ul>
                </div>

                <div class="row form-group">
                    <p class=""><i>Chưa có thông tin <a href="#" id="showNewCustomerForm">Tạo tại đây</a></i></p>
                </div>
                <div id="infoCustomer" style="display: none;">
                    <div class="row form-group">
                        <label for="BidaTableStatus" class="form-label">Họ và tên <span class="text-danger"></span></label>
                        <input id="fullName" type="text" class="form-control" placeholder="Nhập họ tên">

                    </div>
                    <div class="row form-group">
                        <label for="BidaTableStatus" class="form-label">Số điện thoại <span class="text-danger"></span></label>
                        <input id="phoneNumber" type="text" class="form-control" placeholder="Nhập số điện thoại">

                    </div>
                    <div class="row form-group">
                        <label for="BidaTableStatus" class="form-label">Địa chỉ <span class="text-danger"></span></label>
                        <input id="address" type="text" class="form-control" placeholder="Nhập địa chỉ">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmDebtBtn">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
