@using PingMeChat.CMS.Application.Feature.Service.Orders.Dto
@using PingMeChat.CMS.Entities.Feature
@using PingMeChat.Shared.Enum
@model List<OrderDto>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phiếu Tính Tiền Bida</title>
    <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.css" />

    <link rel="stylesheet" href="~/lb-views/order/billView.css" />

</head>
<body>
    <div class="container">
        <div class="bill-wrapper" id="bill-to-print">
            <div class="logo ">
                <img src="~/images/logo-full.jfif" alt="logo" />
            </div>
            <div class="bill-header">
                @*<div class="bill-title">KAKA Club</div>*@
                <div style="font-size: 12px;">Thôn 8, Trung Trạch, Bố Trạch, Quảng Bình</div>
                <div style="font-size: 12px;">0838.799.667</div>
            </div>
            <div class="bill-title text-center">PHIẾU TÍNH TIỀN</div>
            @{ 
                var parentOrder = Model.First();   //Theo mặc định, hóa đơn cha sẽ nằm đầu tiên trong danh sách
                var discountType = parentOrder.DiscountType;
                var discountValue = discountType == DiscountType.Percent ? (parentOrder.DiscountPercent.Value + "%") : parentOrder.Discount.FormatToCurrency();
            }
            @foreach (var order in Model)
            {
                <div class="order-section">
                    <div class="bill-info">
                        <span>Bàn: @order.BidaTableCode</span>
                        <span>Mã hóa đơn: @order.Code</span>
                    </div>
                    <div class="bill-info">
                        <span>Thu ngân: @order.StaffName</span>
                        <span>Ngày tạo: @order.OrderDate.ConvertToMinuteFormat()</span>
                    </div>
                    <div class="bill-info">
                        <span>Giờ vào: @order.StartTime.ConvertToMinuteFormat()</span>
                        <span>Giờ ra: @order.EndTime.ConvertToMinuteFormat()</span>
                    </div>
                    <div class="bill-info">
                        <span>Tổng thời gian: @((order.EndTime - order.StartTime).FormatDurationWithHourMinute()) </span>
                    </div>

                    <table class="table table-hover table-rounded bill-table table-bordered">
                        <thead>
                            <tr>
                                <th>Mặt hàng</th>
                                <th>SL</th>
                                <th>Giá</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var detail in order.OrderDetails)
                            {
                                <tr>
                                    <td>@detail.ProductName</td>
                                    <td>@detail.Quantity</td>
                                    <td>@detail.UnitPrice.FormatToCurrencyWithoutUnit()</td>
                                    <td>@detail.SubTotal.FormatToCurrencyWithoutUnit()</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @{
                        var isParentOrder = order.ParrentId == order.Id;
                        var currentOrderDiscountType = order.DiscountType;
                        var currentOrderDiscount = order.Discount;
                    }
                    <div class="bill-total">
                        <div class="d-flex">
                            <p class="w-75 m-0">Tiền đồ ăn, uống: </p>
                            <p class="w-25 m-0">@order.TotalServiceAmount?.FormatToCurrencyWithoutUnit()</p>
                        </div>
                        <div class="d-flex">
                            <p class="w-75 m-0">Tiền giờ:</p>
                            <p class="w-25 m-0">@order.BidaTableAmount.FormatToCurrencyWithoutUnit()</p>
                        </div>
                        <div class="d-flex">
                            <p class="w-75 m-0">Giảm giá:</p>
                            <p class="w-25 m-0">
                                @(isParentOrder ? 0 : @order.Discount.FormatToCurrencyWithoutUnit())
                                @(isParentOrder ? DiscountType.Amount.GetDescription() : order.DiscountType.GetDescription()) 
                            </p >
                        </div>
                        <div class="d-flex">
                            <p class="w-75 m-0">Thuế:</p>
                            <p class="w-25 m-0">@order.Tax.FormatToCurrencyWithoutUnit()</p>
                        </div>
                        <div class="d-flex"> @* Vách ngăn tính tổng *@
                            <p class="w-75 m-0"></p>
                            <hr class="my-2 w-50 opacity-50 float-end">
                        </div>
                        <div class="d-flex mt-2">
                            <p class="w-75 m-0">Tổng tiền:</p>
                            <p class="w-25 m-0">@order.TotalAmount.FormatToCurrency()</p>
                        </div>
                    </div>
                </div>
                //Tạo ngăn cách giữa các hóa đơn trừ hóa đơn cuối cùng
                @if (order != Model.Last())
                {
                    <hr class="my-4 mx-auto w-75 opacity-25">
                }
            }

            <div class="bill-grand-total border p-3 rounded">
                <div class="d-flex justify-content-between mb-2">
                    <span class="fs-6 text-regular">Tổng cộng:</span>
                    <span class="fs-6 text-end">@Model.Sum(o => (o.BidaTableAmount + o.TotalServiceAmount.Value)).FormatToCurrency()</span>
                </div>
                <div class="d-flex justify-content-between mb-2">
                    <span class="fs-6">Giảm giá:</span>
                    <span class="fs-6 text-end">- @discountValue</span>
                </div>
                <div class="d-flex justify-content-between mt-2 border-top pt-2">
                    <span class="fs-6 fw-bold">Thành tiền:</span>
                    <span class="fs-6 fw-bold text-end">@parentOrder.TotalAmountAllOrder.Value.FormatToCurrency()</span>
                </div>
            </div>

            <div class="bill-footer">
                <div>Phương thức thanh toán: @Model.First().PaymentMethodName</div>
                <div>Cảm ơn quý khách và hẹn gặp lại!</div>
            </div>
        </div>

        <div class="button-container">
            <button onclick="printBill()" class="btn btn-primary">In hóa đơn</button>
            <button onclick="goBack()" class="btn btn-secondary">Trở về</button>
        </div>
    </div>
    <script src="~/libs/bootstrap/js/bootstrap.js" asp-append-version="true"></script>
    <script>
        function printBill() {
            window.print();
        }

        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>